@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circular-wave-animation {
  position: absolute;
  border-radius: 50%;
  background-color: green;
  opacity: 0%;
  animation-name: circular-wave;
  animation-duration: 0.5s;
}

@keyframes circular-wave {
  from {
    transform: scale(0);
    opacity: 100%;
  }
  to {
    transform: scale(1);
    opacity: 10%;
  }
}