.wheel > * {
    cursor: pointer;
}

.wheel-active > * {
    pointer-events: all;
}

.wheel {
    pointer-events: none;
    /* transition: transform 200ms; */
    filter: drop-shadow(0 7px 13px rgb(0 0 0 / 0.1)) drop-shadow(0 3px 5px rgb(0 0 0 / 0.25));
}

.wheel-hidden {
    transform: scale(0, 0) !important;
    /* transition: 0ms; */
}

/** Settings, Undo, Redo, Paste buttons */

.option_button {
    fill: rgba(230, 230, 230, 1);
}

.option_button > circle {
    transition: 100ms;
}

.option_button:hover > circle {
    fill: rgba(215, 215, 215, 1);
}

.option_button > image {
    pointer-events: none;
    transition: 100ms;
    opacity: 0.8;
}

.option_button:hover > image {
    opacity: 1;
}


/** Tool buttons (eraser & select) */ 

.tool_button {
    fill: rgba(230, 230, 230, 1);
    stroke: rgba(230, 230, 230, 1);
    transition: 300ms;
    transform-origin: 50% 50%;
}

.tool_button:hover {
    transform: scale(1.03);
    fill: rgba(215, 215, 215, 1);
    stroke: rgba(215, 215, 215, 1);
}

/** Close button (X) */

.close_button > circle {
    fill: rgb(255, 255, 255);
    transform-origin: 50% 50%;
    transition: 300ms;
    filter: drop-shadow(0 0 13px rgb(0 0 0 / 0.1)) drop-shadow(0 0 5px rgb(0 0 0 / 0.2));
}

.close_button:hover > circle {
    fill: rgb(255, 235, 235);
    transform: scale(1.1);
}

.close_button > path {
    fill: rgba(255, 0, 0, 1);
    opacity: 0.7;
    transition: 300ms;
    transform-origin: 50% 50%;
}

.close_button:hover > path {
    opacity: 1;
    transform: scale(1.1);
}

/** Slice grow on hover animation */

.color_slice {
    transition: 300ms;
    transform-origin: 50% 50%;
}

.color_slice:hover {
    transform: scale(1.03);
}

/** Highlighter & shapes buttons & withs slices */

.button_group > path {
    fill: rgba(240, 240, 240, 1);
    stroke: rgba(220, 220, 220, 1);
    stroke-width: 2px;
}

.button_group:hover > path {
    fill: rgba(220, 220, 220, 1);
}

.button_group > image {
    opacity: 0.8;
    pointer-events: none;
}

.button_group:hover > image {
    opacity: 1;
}

.color_slice > .button_group {
    display:  none;
}

.color_slice:hover > .button_group {
    display:  block;
}

/** Pen buttons */

.pen-img {
    filter: drop-shadow(1px 2px 3px rgba(255, 255, 255, 0.75));
}

.pen > image {
    opacity: 0;
    pointer-events: none;
}

.color_slice:hover > .pen > image {
    opacity: .8;
}

.pen:hover > image {
    opacity: 1 !important;
}